/* CSS HEX */
:root {
  --blue-violet-color-wheel: #541388ff;
  --dogwood-rose: #d90368ff;
  --vivid-sky-blue: #57c4e5ff;
  --tea-green: #ddf9c1ff;
  --mandarin: #ef8354ff;
}
.null,
#null {
  display: none;
}
body {
  background: linear-gradient(215deg, #ddf9c1ff, #ef8354ff);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  max-width: 100vw;
  height: fit-content;
  min-height: 50vw;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-size: 1rem;
}
ul {
  list-style: none;
}
div {
  border: 1px solid gray;
}
a {
  text-decoration: none;
  text-transform: none;
  color: inherit;
  text-transform: capitalize;
}

#root .App {
  height: 50rem;
  min-width: 512px;
}

nav {
  border: 0.2em solid #000000;
  position: sticky;
  width: 99%;
  margin: 1rem auto;
  background-color: var(--vivid-sky-blue);
}

.header {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2.5rem 2.5rem;
}
.header div {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem 4rem;
  border: none;
  border-radius: 50%;
}
.nav-logo:hover,
.menu li:hover,
.nav-links li:hover {
  color: var(--vivid-sky-blue);
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#383838+19,57c4e5+68 */
  background: #383838; /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #383838 19%,
    #57c4e5 68%
  ); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #383838 19%,
    #57c4e5 68%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    #383838 19%,
    #57c4e5 68%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#57c4e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}
.menu li {
  padding: 0 2rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 16rem;
  padding: 0;
}
.nav-links li {
  width: 4rem;
  height: 2rem;
}

.sidebar-icon {
  display: none;
  width: 2rem;
  height: 2rem;
}

@media screen and (min-width: 967px) {
  #sidebar {
    display: none;
  }
  .sidebar-icon-show {
    display: none;
  }
}
#sidebar {
  position: absolute;
  border-radius: 0.3rem;
  right: 3rem;
  bottom: -25rem;
  background: rgb(240, 163, 129);
  min-height: fit-content;
  padding: 0;
  transition: 0.5s;
}
#social-icons {
  display: flex;
  width: inherit;
  height: inherit;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  left: -0.6em;
  position: relative;
}
.sidebar-menu {
  display: flex;
  padding: 0.5rem;
  margin: 0.5rem;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
#sidebar li {
  border-radius: 0.3rem;
  padding: 1rem 1rem;
  margin: 1rem;
  border: 0.2rem solid black;
}
#sidebar-social {
  padding: 0;
}

@media screen and (max-width: 967px) {
  .nav-menu {
    display: none;
  }
  .nav-links {
    display: none;
  }
  .nav-logo {
    visibility: visible;
  }
  .sidebar-icon {
    display: block;
    position: absolute;
    right: 3rem;
    transition: 0.5s;
  }
  .sidebar-icon-show {
    display: block;
    position: absolute;
    right: 3rem;
    width: 2rem;
    height: 2rem;
    transition: 0.5s;
    transform: rotate(90deg);
  }
}

.about-page ul {
  padding: 0;
}
.profile-box {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border: 0.3rem groove black;
  border-radius: 0.3rem;
}
.about-page img {
  object-fit: cover;
  object-position: 49% 28%;
  width: 15rem;
  height: 15rem;
}
.profile-text {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  height: 250px;
  max-height: 250px;
  max-width: 74%;
  font-size: larger;
  border: 0.15rem dotted black;
}
.profile-text p {
  text-transform: capitalize;
  text-decoration: underline;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 4rem;
}
.profile-text div {
  width: inherit;
  overflow: scroll;
}
.homepage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
}

.homepage div {
  display: inline-block;
  min-width: 30%;
  margin: 1rem;
  text-align: center;
  padding: 15rem 5%;
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 2rem;
}

.books {
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.35)),
    url('../images/books.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 60%;
}
.books:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.75)),
    url('../images/books.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 60%;
}
.vegetables {
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.4)),
    url('../images/vegetables.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
}
.vegetables:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.75)),
    url('../images/vegetables.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
}

.bookpage {
  display: grid;
  grid-template-columns: 20% 1fr 1fr;
  grid-template-rows: 6rem 1fr;
  gap: 2px;
}
.form {
  display: grid;
  align-items: center;
}
/* .bookpage div {
  background-color: pink;
  height: 14rem;
  width: inherit;
} */
.search:nth-child(1) {
  height: 6rem;
  width: inherit;
  grid-column: span 3;
}

.filter:nth-child(2) {
  height: 20rem;
  width: inherit;
}
.shelf:nth-child(3) {
  height: fit-content;
  width: inherit;
  grid-column: span 2;
}
.shelf-grid {
  display: grid;
  /* align-content: center;
  justify-content: center;*/
  height: inherit;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-columns: repeat(auto-fit, minmax(180px, 1 fr)); */
  grid-template-rows: 1fr 1fr 1fr;
}
.shelf-book {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 16rem 4rem 1fr 1fr;
  margin-top: 1rem;

  justify-items: center;
  align-items: center;
  max-height: 30rem;
  max-width: 30rem;
}

.center {
  display: grid;
  align-items: center;
  justify-items: center;
  height: inherit;
}
.center p {
  margin: auto;
}

.single-book {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 11fr;
  text-transform: none;
}
.single-book-img {
  display: grid;
  grid-row: span 12;
  align-items: center;
  justify-items: center;
  min-height: 33vw;
}
.single-book h3 {
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem;
}
.single-book h4 {
  text-align: center;
  margin: 1rem;
}

.single-book p,
a {
  text-align: center;
}

.title {
  grid-column: span 2;
  text-align: center;
  font-size: 2rem;
}
.subtitle {
  grid-column: span 2;
  text-align: center;
}
.btn-show-more {
  font-size: 1.2rem;
  border: none;
  background: none;
  color: var(--blue-violet-color-wheel);
}
